*.pyc
best_structure_config0/
log*
checkpoints*
af2_batch
*.log
baseline
__pycache__/
*.pth
*.pt
results/
outputs/
embeddings/
*_graph
features/
.vscode/
.idea/
tmp/
pssm/
hhm/
a3m/
runs/
.gitignore
*seed*.yaml
todo*
*.tar.gz*

